table.regist_content {
    td {
        .tag_detail{
            padding: 5px 10px;
            margin:5px;
            background: #ecf2ff;
            border-radius: 10px;
            display: inline-block;
        }
    }
}