body {
    margin: 0;

    header {
        background: radial-gradient(#ffffff,#93b5f5);
        color:#000;
        font-weight: bold;
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }

    footer {
        background: radial-gradient(#ffffff,#93b5f5);
        color:rgb(0, 0, 0);
        font-weight: bold;
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }

    main {
        display: flex;
        width:1240px;
        margin: 0 auto;
        padding-top: 25px;

        h2 {
            background: #ecf2ff;
            color:#000;
            font-weight: bold;
            font-size: 18px;
            padding: 10px;
            text-align: center;
            border-top: 3px solid #93b5f5;
            border-bottom: 3px solid #93b5f5;
        }
    }
    /*******************************
    sidenavi
    ********************************/
    #sidenavi {
        width:20%;
        float:left;

        ol {
            list-style: none;
            margin: 0 auto;
            width:90%;
            padding: 10px 0;
            position: relative;
            top:15px;

            a {
                text-decoration: none;
            }

            li {
                padding: 10px;
                color: rgb(39, 39, 39);
                font-weight: bold;
                background: #ecf2ff;
                margin-bottom: 8px;
                text-align: center;
                border-radius: 3px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

    }

    /*******************************
    common
    ********************************/

    #content {
        width:80%;
        min-height: 654px;

        .list_top_area {
            margin: 20px 0;

            a.regist_link {
                border: 1px solid #ccc;
                border-radius: 3px;
                background: #fff;
                color: #303030;
                padding: 5px 15px;
                font-size: 12px;
                text-decoration: none;
                display: inline-block;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }

            }

            form.select {
                display: inline-block;
                float: right;

                .select_area {
                    display: inline-block;

                    select {
                        width: 180px;
                        height: 30px;
                    }

                    input {
                        width: 80px;
                        height: 30px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        background: #fff;
                        color: #303030;
                        font-size: 12px;
                        text-decoration: none;                                
                        cursor: pointer;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }


            }
        }

        table.list {
            width: 100%;
            border-collapse: collapse;

            th {
                font-weight: normal;
                font-size: 12px;
                padding: 3px 5px;
                background: #ecf2ff;
            }

            td {
                font-weight: normal;
                font-size: 12px;
                padding: 3px 5px;

                &.center {
                    text-align: center;
                }
            }
        }

        table.regist_content,
        table.edit_content {
            width: 100%;
            border-collapse: collapse;

            th {
                font-weight: normal;
                font-size: 12px;
                padding: 3px 5px;
                background: #ecf2ff;
                border-top: 1px solid #dedede;
                &.last {
                    border-bottom: 1px solid #dedede;
                }

            }

            td {
                font-weight: normal;
                font-size: 12px;
                padding: 3px 5px;
                border-top: 1px solid #dedede;

                &.last {
                    border-bottom: 1px solid #dedede;
                }

                select {
                    height: 30px;
        
                    &.auther,&.category,&.status {
                        width: 200px;
                    }
        
                    &.article {
                        width: 100%;
                    }
        
                    &.year {
                        width: 80px;
                    }
        
                    &.month,&.day,&.hour,&.minute {
                        width: 50px;
                    }
                }
                
                input[type=text] {
                    width: 100%;
                    height: 30px;
                }
        
                textarea {
                    width: 100%;
                    height: 100px;
                }
        
                label.img {
                    padding: 3px 10px;
                    color: #ffffff;
                    background-color: #5e5e5e;
                    border-radius: 5px;
                    cursor: pointer;
                }
                
                input[type=file] {
                    display: none;
                }
                
                p {
                    margin: 10px 0 0 0;    
                } 
                
                img#sumb {
                    display: none;
                }
            }
        }

        .button_area {
            margin-top: 30px;
            text-align: center;

            button {
                border: 1px solid #ccc;
                border-radius: 3px;
                background: #fff;
                color: #303030;
                padding: 10px 15px;
                font-size: 12px;
                min-width: 135px;
                margin: 0 20px;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        p.validation {
            font-size: 10px;
            font-weight: bold;
            color: #f00;
        }
    }

}
