.tag_list {
    margin-top: 55px;

    .tag_detail {
        padding: 5px 10px;
        margin:5px;
        background: #ecf2ff;
        border-radius: 10px;
        display: inline-block;

        img {
            width:10px;
            cursor: pointer;
        }
        
        input {
            &[type=text] {
                display: none;
            }
            &[type=button] {
                display: none;
            }
        }
    }
}


